<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="bootstrap"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="ZN">
            <directory suffix="Test.php">UnitTests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Internal</directory>
            <exclude>
                <directory>./UnitTests/extends</directory>
                <directory>./Internal/composer</directory>
                <file>./Internal/autoload.php</file>
                <directory>./Internal/package-authentication/Resources</directory>
                <directory>./Internal/package-authentication/Exception</directory>       
                <directory>./Internal/package-buffering/Exception</directory>
                <directory>./Internal/package-cache/Exception</directory>
                <file>./Internal/package-cache/Drivers/ApcDriver.php</file>
                <file>./Internal/package-cache/Drivers/ApcuDriver.php</file>
                <file>./Internal/package-cache/Drivers/WincacheDriver.php</file>
                <file>./Internal/package-cache/Drivers/MemcacheDriver.php</file>
                <directory>./Internal/package-comparison/Exception</directory>
                <directory>./Internal/package-compression/Exception</directory>
                <file>./Internal/package-compression/Drivers/LzfDriver.php</file>
                <file>./Internal/package-compression/Drivers/RarDriver.php</file>
                <file>./Internal/package-console/Run.php</file>
                <file>./Internal/package-console/Environment.php</file>
                <directory>./Internal/package-crontab/Exception</directory>
                <directory>./Internal/package-cryptography/Exception</directory>
                <directory>./Internal/package-database/Exception</directory>
                <directory>./Internal/package-database/Oracle</directory>
                <directory>./Internal/package-database/ODBC</directory>
                <directory>./Internal/package-database/PDO</directory>
                <directory>./Internal/package-database/SQLServer</directory>
                <file>./Internal/package-database/MDB.php</file>
                <file>./Internal/package-database/MDBInterface.php</file>
                <directory>./Internal/package-datatypes/Exception</directory>
                <directory>./Internal/package-datetime/Exception</directory>
                <directory>./Internal/package-email/Exception</directory>
                <directory>./Internal/package-email/Drivers</directory>
                <directory>./Internal/package-event-handler/Exception</directory>
                <directory>./Internal/package-filesystem/Exception</directory>
                <directory>./Internal/package-generator/Exception</directory>
                <file>./Internal/package-generator/Databases.php</file>
                <directory>./Internal/package-helpers/Exception</directory>  
                <directory>./Internal/package-hypertext/Resources</directory>
                <directory>./Internal/package-hypertext/Exception</directory>
                <file>./Internal/package-hypertext/JavascriptValidationFunctions.php</file>
                <file>./Internal/package-hypertext/Sheet.php</file>
                <directory>./Internal/package-image/Exception</directory>
                <directory>./Internal/package-payment</directory>
                <directory>./Internal/package-protection/Exception</directory>
                <directory>./Internal/package-remote</directory>
                <directory>./Internal/package-request/Exception</directory>
                <directory>./Internal/package-services/Exception</directory>
                <directory>./Internal/package-services/CDNDrivers</directory>
                <directory>./Internal/package-storage/Exception</directory>
                <directory>./Internal/package-validation/Exception</directory>
                <directory>./Internal/package-xml/Exception</directory>
                <directory>./Internal/package-zerocore/Ability</directory>
                <directory>./Internal/package-zerocore/Config</directory>
                <directory>./Internal/package-zerocore/Controller</directory>
                <directory>./Internal/package-zerocore/ErrorHandling</directory>
                <directory>./Internal/package-zerocore/Exception</directory>
                <directory>./Internal/package-zerocore/Facades</directory>
                <directory>./Internal/package-zerocore/Inclusion</directory>
                <directory>./Internal/package-zerocore/Lang</directory>
                <directory>./Internal/package-zerocore/Resources</directory>
                <directory>./Internal/package-zerocore/Routing</directory>
                <file>./Internal/package-zerocore/Butcher.php</file>
                <file>./Internal/package-zerocore/Classes.php</file>
                <file>./Internal/package-zerocore/Coalesce.php</file>
                <file>./Internal/package-zerocore/Command.php</file>
                <file>./Internal/package-zerocore/Composer.php</file>
                <file>./Internal/package-zerocore/Controller.php</file>
                <file>./Internal/package-zerocore/Config.php</file>
                <file>./Internal/package-zerocore/Functions.php</file>
                <file>./Internal/package-zerocore/Htaccess.php</file>
                <file>./Internal/package-zerocore/Hypertext.php</file>
                <file>./Internal/package-zerocore/In.php</file>
                <file>./Internal/package-zerocore/Ini.php</file>
                <file>./Internal/package-zerocore/IS.php</file>
                <file>./Internal/package-zerocore/Kernel.php</file>
                <file>./Internal/package-zerocore/Lang.php</file>
                <file>./Internal/package-zerocore/Model.php</file>
                <file>./Internal/package-zerocore/Output.php</file>
                <file>./Internal/package-zerocore/Regex.php</file>
                <file>./Internal/package-zerocore/Restoration.php</file>
                <file>./Internal/package-zerocore/Response.php</file>
                <file>./Internal/package-zerocore/Robots.php</file>
                <file>./Internal/package-zerocore/StaticAccess.php</file>
                <file>./Internal/package-zerocore/Tester.php</file>
                <file>./Internal/package-zerocore/ZN.php</file>
            </exclude>
        </whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>

</phpunit>